# node running mode
export NODE_ENV='development'
export NODE_URL='/quantum'

# Database credentials
export MONGO_DB_URL='mongodb+srv://quantum-db.6423l2.mongodb.net/quantum'
export MONGO_DB_USR='mongo_usr'
export MONGO_DB_PWD='super_secret_password'

# User authentication via Microsoft (Azure AD)
export AUTH_PROVIDER='Microsoft'
export AUTH_TENANT_ID='fa793b40-4124-487c-856f-174587a88c26'
export AUTH_CALLBACK_URL='https://flight.quantum.space/quantum/redirect'
export AUTH_CLIENT_ID='afdb789a-9973-4a85-86e7-00cdb9e5f3af'
export AUTH_CLIENT_SECRET='eA58Q~n4SxJtJV~G9Op98452yvJVr_y5fl1ggUcZ7'
